services:
  # Servizio Applicazione (Backend + Frontend servito staticamente)
  app:
    build: 
      context: .
      dockerfile: backend/Dockerfile
    ports:
      - "3000:3000"
    # Diciamo a Docker di leggere le variabili direttamente dal file .env
    env_file:
      - ./backend/.env
    environment:
      - NODE_ENV=production
      # Sovrascriviamo CLIENT_ORIGIN per assicurarci che Docker locale funzioni
      - CLIENT_ORIGIN=http://localhost:3000,https://sito-l3xz.onrender.com
    depends_on:
      - mongo
    restart: always

  # Servizio Database (MongoDB)
  mongo:
    image: mongo:6
    ports:
      - "27017:27017"
    volumes:
      - mongo-data:/data/db
    restart: always

volumes:
  mongo-data:
